html {
    font-size: 62.5%;
    box-sizing: border-box;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    line-height: 1.8;

    background-color: $blueCakeLogo;
}

.contenedor{
    margin: 0 auto;
    max-width: 120rem;
}

a, p{
    font-family: $fontText;
    text-decoration: none;
    text-transform: uppercase;
}