//color
$blueCakeLogo: #84c3d6;
$blueCake: #748fc9;
$redCake: #c97474;
$roseCake: #c974b6;
$greenCake: #65ac9c;
$brownCake: #b2a18a;
$brownCakeDark: #5c4141;
$greyLigth: #f0f0f0;
$greyDark: #333333;
$black: #1b1b1b;
$white: rgb(248, 248, 248);

//font size
$delgada: 300;
$regular : 400;
$bold: 700;
$blackBold: 900;

//font family
$fontText : 'Baloo Tamma 2', cursive;
$fontTitle1 : 'Exo 2', sans-serif;
$fontTitle2 : 'Dancing Script', cursive;
$fontTitle3 : 'Lobster', cursive;
