//color
$blueCake: #748fc9;
$redCake: #c97474;
$roseCake: #c974b6;
$greenCake: #649187;
$greyligth: #cfcfcf;
$greyDark: #333333;
$black: #141414;
$white: rgb(248, 248, 248);

//font size
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

//font family
$fontText : 'Baloo Tamma 2', cursive;
$fontTitle1 : 'Monoton', cursive;
$fontTitle2 : 'Dancing Script', cursive;
$fontTitle3 : 'Lobster', cursive;
