.boton_circular{
    width: 7rem;

    display: flex;
    flex-direction: column;
    background-color: $brownCakeDark;
    border-radius: 50%;
    padding: 2rem;
}

.boton__cuadrado{
  color: $white;
  padding: 1.5rem 1rem;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.nav__boton{
    visibility: hidden;
    display: none;
    text-transform: uppercase;
    position: absolute;
    top: 24rem;
    left: 50%;
    margin: 0 0 0 -3.5rem;

    cursor: pointer;


    .nav__boton--line{
        width: 3rem;
        height: .25rem;

        background-color: $greyLigth;
        padding: .25rem 1rem;
        margin: .25rem 0;

        &:first-child{  
            animation: botonNav__linea1R 1s both;
        }
        &:nth-child(2){
            animation: botonNav__linea2R 1s both;
        }
        &:nth-child(3){
            animation: botonNav__linea3R 1s both;
        }    
    }


    &.active{
        .nav__boton--line{
            &:first-child{  
                animation: botonNav__linea1 1s both;
            }
            &:nth-child(2){
                animation: botonNav__linea2 1s both;
            }
            &:nth-child(3){
                animation: botonNav__linea3 1s both;
            }
        }
        
    }
}

.no-animation{
    .na{
        animation: none !important;
    }
}

@keyframes botonNav__linea1 {
    0% {
        transform: rotate(0);
      }
      50% {
        transform: translateY(10px) rotate(0);
      }
    
      100% {
        transform: translateY(10px) rotate(45deg);
      }
}

@keyframes botonNav__linea1R {
    0% {
        transform: translateY(10px) rotate(45deg);
        
      }
      50% {
        transform: translateY(10px) rotate(0);
      }
    
      100% {
        transform: rotate(0);
      }
}

@keyframes botonNav__linea2 {
    0% {
        transform: scale(1);
      }
    
      100% {
        transform: scale(0);
      }
}
@keyframes botonNav__linea2R {
    0% {
        transform: scale(0);
      }
    
      100% {
        transform: scale(1);
      }
}

@keyframes botonNav__linea3 {
    0% {
        transform: rotate(0);
      }
      50% {
        transform:  translateY(-10px) rotate(0);
      }
    
      100% {
        transform: translateY(-10px) rotate(-45deg);
      }
}

@keyframes botonNav__linea3R {
    0% {
        transform: translateY(-10px) rotate(-45deg);
        
      }
      50% {
        transform:  translateY(-10px) rotate(0);
      }
    
      100% {
        transform: rotate(0);
      }
}
