.acercaDe{
    background-color: $brownCakeDark;

    color: $white;
    h2{
        font-family: $fontTitle3;
        font-size: 7.4rem;
        text-transform: capitalize;
    }

    h3{
        font-family: $fontText;
        margin-top: .8rem;
        font-size: 2.4rem;
    }

    
}

.acercaDe__locales{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    .acercaDe__locales--carta{

        h3{
            margin-top: .8rem;
            margin-bottom: -1rem;
        }
    }
}

.acercaDe__texto{
    p{
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }
}

.boton__cuadrado{
    position: relative;
    z-index: 2;
    border: .25rem solid $white;
    width: 22rem;
    height: 6.3rem;
    margin: 2.4rem 0 0 auto;
    overflow: hidden;
    

    &::before{
        content: "";
        width: 8.3rem;
        height: 8.3rem;
        border-radius: 50rem;
        position: absolute;
        top: -1rem;
        left: 6.5rem;
        z-index: -1;
    }

    &:hover{
        &::before{
            animation: boton__circulo .8s both;
        }

    }
  }


  @keyframes boton__circulo {
    0% {
        transform: scale(.3);
      }
    
      100% {
        background-color: $blueCakeLogo;
        transform: scale(4);
      }
  }

  @keyframes boton__circulo2 {
    0% {
        transform: scale(.3);
      }
    
      100% {
        background-color: $blueCakeLogo;
        transform: scale(10);
      }
  }


@include tablet{
    .acercaDe__locales{
        flex-direction: column;


    }

    .boton__cuadrado{
        margin: 2.4rem 0;
        width: 100%;
        &::before{
            top: -1rem;
            left: calc(50% - 6rem);
        }

        &:hover{
            &::before{
                animation: boton__circulo2 .8s both;
            }
    
        }
    }
}