.header{
    background: $greyLigth;
    height: 35rem;
    box-shadow: 0 0 1.5rem 2px $brownCakeDark;
    text-align: center;

    .header__contenedor{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    
    
    
}

.logo{
    margin-top: 3rem;
    .logo__img{
        width: 10rem;
    }

    .logo__texto{
        color: $brownCakeDark;

        font-size: 4.5rem;
        font-weight: 600;
        font-family: $fontTitle1;
        font-style: italic;

        margin-top: 0;
    }
}

.nav{
    .nav__texto{
        color: $brownCakeDark;
        font-size: 2rem;
        font-weight: 700;
        padding: 2rem 2rem .5rem 2rem;
        border-bottom: 1rem solid $brownCakeDark;

        transition: all .3s ease-in;
        
        &:hover{
            color: $blueCakeLogo;
            border-bottom: 1rem solid $blueCakeLogo;
        }
    }

}

@include tablet{


        .header{
            height: 32rem ;

            .boton{
                visibility:visible;
                display: flex;
            }
        }

        .nav__texto{
            visibility: hidden;
            display: none;
        }
    }